<form action="/bookmarks/<%= @bookmark.id %>/edit" method="post">
  <input type="hidden" name="_method" value="PATCH" />
  <input type='text' name="url" placeholder="url">
  <input type='title' name="title" placeholder="title">
  <input type="submit" value="Update">
</form>
<ul>