<form action="/bookmarks" method="post">
  <input type='text' name="url" placeholder="url">
  <input type='title' name="title" placeholder="title">
  <input type="submit" value="Add bookmark">
</form>
<ul>
